.ship-container .content {
  max-width: 740px;
  margin: 1rem auto;
  padding: 0.7rem 1rem;
  display: flex;
  flex-direction: column;
  background-color: #000;
  box-shadow: 0px 0px 4px #ffe81f;
  border-radius: 8px;
}
.ship-container .content:first-child {
  max-width: 740px;
  padding: 0.7rem 1rem;
  display: flex;
  flex-direction: column;
  background-color: #000;
  box-shadow: 0px 0px 4px #ffe81f;
  border-radius: 8px;
  margin-bottom: 30px;
}

.rank {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
}
.rank-btn-left {
  box-shadow: 0px 0px 4px #ffe81f;
  background-color: #000;
  border-radius: 8px;
  padding: 0.2rem 2rem;
  color: #fff;
  width: fit-content;
}
.rank-btn-right {
  box-shadow: 0px 0px 4px #ffe81f;
  background-color: #000;
  border-radius: 8px;
  padding: 0.2rem 2rem;
  color: #fff;
  width: fit-content;
  text-transform: capitalize;
}
.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  top: -15px;
}
.info .ship-heading {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.ship-heading p {
  text-align: center;
  margin-left: 0.5rem;
  font-weight: 600;
  font-size: 20px;
  text-transform: capitalize;
}
.info .ship-price {
  display: flex;
  align-items: center;
  font-weight: 600;
  justify-content: center;
  margin-left: 5rem;
  font-size: 20px;
}
.stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  width: 100%;
}
.stats .row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #808080;
  margin: 0.6rem 0;
  padding-bottom: 0.5rem;
}
.stats .row p:first-child {
  color: #d3d3d3;
}
@media screen and (max-width: 700px) {
  .ship-container .content {
    max-width: 100%;
    margin: 0.5rem;
    padding: 0 0.5rem;
  }

  .stats {
    grid-template-columns: 1fr;
  }
  .rank {
    margin: 0.5rem;
  }

  .rank-btn-left {
    margin: 0.5rem 0;
  }
  .rank-btn-right {
    margin: 0.5rem 0;
  }
}
.ship-pic {
  max-width: 100%;
  min-width: 300px;
  height: auto;
}
.content .manufacturer {
  text-align: center;
  margin-bottom: 10px;
}
.content .manufacturer p {
  font-size: 20px;
  border-bottom: 1px solid #808080;
  padding-bottom: 15px;
}
.content .about h2 {
  text-align: center;
  margin-bottom: 10px;
}
.cards {
  overflow-y: hidden;
}
.card {
  overflow-y: hidden;
}
